{{/*
  Usage: {{< ohara-file "$RelativeFilePath" >}}
  Description:
    * 若檔案在 /content/$LangID/docs/$branch/ 資料夾內, 依據不同的 branch folder, 提供對應的 Ohara repo 檔案連結.
    * 不在 /content/$LangID/docs/$branch/ 之內, 則固定以 master branch 為主.
  Example:
    {{< ohara-file "ohara-common/src/main/java/oharastream/ohara/common/data/Row.java" >}}
*/}}

{{- $path := (urls.Parse .Page.Permalink).Path }}
{{- $segments := split $path "/" }}
{{- $branch := "master" }}
{{- if eq (index $segments 2) "docs"}}
  {{- $branch = index $segments 3 }}
{{- end -}}
https://github.com/oharastream/ohara/blob/{{ $branch }}/{{ .Get 0 }}